{% extends "base_generic.html" %}

{% block content %}

<p>Проект : {{object.project}}</p>
<p>Канал обращения : {{object.channel_of_reference}}</p>
<p>Описание : {{object.descr}}</p>
<p>Рейтинг : {{object.rating}}</p>
<p>Менеджер : {{object.manager}}</p>
<p>Дата создания: {{object.date_created}}</p>
<p>Дата изменения: {{object.date_edit}}</p>

{% if request.user == object.manager %}
<a href="{{ request.path }}/delete">Удалить взаимодействие</a>

<a href="{{ request.path }}/update">Обновить взаимодействие</a>
{% endif %}


{% endblock %}